form{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    
}
.container{
    margin-left: 4%;
    margin-top: 2%;
    margin-right: 4%;
    border: 1px solid black;
  
}
ion-input{
    margin-bottom: 2%;
}