<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agregar Tarea
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="forms">
    <form >
      <!-- Nombre de la tarea -->
      <ion-input label="Nombre de la tarea" label-placement="floating" fill="outline" name="nombre" [(ngModel)]="nuevaTarea.nombre"></ion-input>
      <br />
      <!-- Descripcion -->
      <ion-label>Descripción:</ion-label>
      <ion-textarea fill="outline" rows="3" name="descripcion" [(ngModel)]="nuevaTarea.descripcion"></ion-textarea>
      <br />
      <!-- Fecha de entrega -->
      <ion-label position="floating">Fecha de entrega</ion-label>
      <div class="fecha">
        <ion-datetime presentation="date" [(ngModel)]="nuevaTarea.fecha"></ion-datetime>
      </div>
      <br />
      <!-- Materia -->
      <ion-input label="Materia" label-placement="floating" fill="outline" name="materia" [(ngModel)]="nuevaTarea.materia"></ion-input>
      <br />
      <!-- Boton de agregar -->
      <div class="boton">
        <ion-button (click)="agregarTarea()" class="botonAgregar" type="submit">Agregar Tarea</ion-button>
      </div>
    </form>
  </div>

</ion-content>
