ion-content {
    --ion-background-color: white;
}

ion-card {
    padding: 10px;
    background-color: white;
    border: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ion-icon{
    color:blue;
    margin-right: 1%;
    font-size: 50px;
}

.forms {
    padding-left: 3%;
    padding-right: 3%;
}

.verMas {
    display: flex;
    justify-content: center;
}

.descripcion {
    padding: 5%;
}

.eliminar {
    position: fixed;
    padding-left: 65%;
    padding-bottom: 15%;
    color: red;
    font-size: 15px;
}

ion-checkbox {
    --size: 25px;
    --checkbox-background-checked: white;
}
  
ion-checkbox::part(container) {
    border-radius: 0px;
    border: 3px solid black;
    background-color: white;
}

.tarjeta{
    display: flex;
}

.icon{
    display: flex;
    align-items: center;
}

.Fecha{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: black;
    width: 75px;
}

p {
    margin: 0px;
}

.titulo{
    flex: 1;
    margin-left: 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nombre{
    font-size: large;
    color: black;
}

.materia{
    color: #8d8686;
}

.Eliminar{
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}