<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agenda Escolar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <div class="forms">
    <ion-card *ngFor="let tarea of tareas; " class="tarjeta">
  
    <div class="icon">
        <ion-icon name="reader-outline" ></ion-icon>
      </div>
      
      <div class="Fecha">
        <p>{{tarea.Fecha | date: 'EEEE' }}</p>
        <p>{{tarea.Fecha | date: 'dd-MM-yy'}}</p>
      </div>

      <div class="titulo">
        <p class="nombre">{{tarea.Nombre}}</p>
        <p class="materia">{{tarea.Materia}}</p>
      </div>
      <ion-button class="modalbutton" (click)="openModal(tarea)" >
        <div class="icon-add">
          <ion-icon  slot="icon-only" name="add-outline"></ion-icon>
        </div>
      </ion-button>
    
      <div class="Eliminar">
 
   <ion-checkbox (ionChange)="deleteTarea(tarea)"></ion-checkbox>
      </div>

    </ion-card>
  </div>

</ion-content>

