<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agenda Escolar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <div class="forms">
    <ion-card *ngFor="let tarea of tareas; let i = index" class="tarjeta" (click)="openModal(tarea)">
      
      <div class="icon">
        <ion-icon name="reader-outline"></ion-icon>
      </div>
      
      <div class="Fecha">
        <p>{{ tarea.fecha | date: 'EEEE' }}</p>
        <p>{{tarea.fecha | date: 'dd-MM-yy'}}</p>
      </div>

      <div class="titulo">
        <p class="nombre">{{tarea.nombre}}</p>
        <p class="materia">{{tarea.materia}}</p>
      </div>
      
      <div class="Eliminar">
        <ion-checkbox (ionChange)="tareasTerminadas(i)"></ion-checkbox>
      </div>

    </ion-card>
  </div>

</ion-content>

