<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agenda Escolar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">  
  <div class="forms">
    <ion-card *ngFor="let tarea of tareas; let i = index" class="tarjeta">
      
      <div class="icon">
        <ion-icon name="reader-outline"></ion-icon>
      </div>
      
      <div class="Fecha">
        <p>{{tarea.fecha | date: 'EEE dd'}}</p>
        <p>{{tarea.fecha | date: 'MM-yy'}}</p>
      </div>

      <div class="titulo">
        <p class="nombre">{{tarea.nombre}}</p>
        <p class="materia">{{tarea.materia}}</p>
      </div>
      
      <div class="Eliminar">
        <ion-checkbox></ion-checkbox>
      </div>

      <!--
      <ion-accordion-group>
        <ion-accordion value="detalles">
          <ion-item slot="header" color="light">
            <ion-label class="verMas">+ Ver más detalles</ion-label>
          </ion-item>
          <div class="descripcion" slot="content">{{tarea.descripcion}}</div>
        </ion-accordion>
      </ion-accordion-group>-->

    </ion-card>
  </div>

</ion-content>

