<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       Administrador de Tareas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <ng-container *ngIf="user">
    <div class="content">
    <h2>Welcome!</h2>
    <div class="icon">
    <ion-icon name="person-circle-outline"></ion-icon>
    </div>
    <p>Email: {{ user.email }}</p>
    <ion-button (click)="logout()" expand="full" shape="round">Cerrar Sesion</ion-button>
  </div>

  </ng-container>
</ion-content>
