.content{
    margin: 2% auto;
    border: 2px solid #d0d8d7;
    align-items: center;
    justify-content: center;
    height: auto; 
    max-width: 600px; 
    height: 80%;
    background:#d0d8d7;
    border-radius: 20px;
    align-items: center;
}

h2{
    font-size: 50px;
    font-weight: bolder;
    margin-left: 5%;
    margin-bottom: 0px;
}

p{
    margin-left: 3%;
    font-size: 23px;
}

.icon{
    font-size: 150px;
    width: 50px;
    margin-left: 35%;
}

ion-button {
    --background: #212b29;
    --color: white;
    font-weight: bolder;
    font-size: 15px;
}

.actualizarFoto{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagen{
    display: flex;
    justify-content: center;
}

img {
    border-radius: 100%;
    margin: 5%;
}

input {
    font-size: 13px;
}
