<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Agenda Escolar
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Materia</ion-card-subtitle>
    <br />
    <ion-card-title>Nombre de la tarea</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="fecha">
      <p>Fecha:</p>
    </div>  
  </ion-card-content>

  <ion-button class="botonVerMas" expand="block" fill="clear">+ Ver más detalles</ion-button>
</ion-card>
</ion-content>


