

<ion-content [fullscreen]="true">
  <div class="container">
    <form [formGroup]="formReg" (submit)="onSubmit()">
      <div class="header">
        <img src="assets/logos/LG.png" class="logo">
        <h1 class="titulo">Administrador Tareas</h1>
        </div>
      <ion-input formControlName="email" labelPlacement="stacked" label="Email" fill="outline" placeholder="email@domain.com"></ion-input>
      <ion-input formControlName="password" fill labelPlacement="stacked" fill="outline" type="password" label="Contraseña">
        <ion-input-password-toggle slot="end"></ion-input-password-toggle>
      </ion-input>
      <ion-button type="submit" shape="round" expand="full">Registro</ion-button>
     
    </form>
  </div>
</ion-content>
